<ul class="todos">
  <% @todos.each do |todo| %>
    <li class="<%= 'completed' if todo.completed? %>">
      <%= todo.title %>
      <% if todo.completed? %>
        <%= button_to "Incomplete", todo_completion_path(todo), method: :delete %>
      <% else %>
        <%= button_to "Complete", todo_completion_path(todo) %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New To-Do", new_todo_path %>